@use './variables' as v;

@mixin psudo($loc: before, $content: "", $pos: absolute) {
  position: relative;
  &::#{$loc} {
    content: $content;
    position: $pos;
    @content;
  }
}

@mixin hover-lift() {
  transition: transform v.$speed ease-in-out;
  box-shadow: 0 0.25em 0.5em rgba(black, 0.2);

  @include psudo(after) {
    transition: transform v.$speed ease-in-out;
    box-shadow: 0 0 1.25em 0 rgba(black, 0.4);
    opacity: 0;
  }

  &:hover,
  &:focus {
    transform: scale(1.05);
    &::after {
      opacity: 1;
    }
  }
}
