@use './abstracts' as v;

.dress_layout {
  color: black;
  margin-bottom: 20px;

  .title {
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .carousel {
    width: 25rem;
    height: 30rem;
    background: black;
    overflow: hidden;
    cursor: pointer;
    border: 1rem solid black;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 40%);
  }
  .carousel-item {
    height: 100%;
  }
  .carousel-inner {
    height: 100%;
  }

  .content-image {
    width: 100%;
  }

  .img_layout {
    height: 100%;
    display: flex;
    width: 100%;
    align-items: center;
  }

  @media only screen and (max-width: v.$smallscreen) {
    .title {
      margin-top: 5px;
      margin-bottom: 10px;
      font-size: max(11px, 3.5vw);
    }
  }
}
